// begin product
.product{
    display: grid;
    grid-template-columns: minmax(300px, 56%) 1fr;
    grid-column-gap: 4.5rem;
    grid-template-rows: minmax(10rem, auto) 1fr;
    grid-template-areas:
    "slider title"
    "slider description";
    @include r($mob - 1){
        grid-template-columns: minmax(300px, 100vw);
        grid-template-areas:
            "title"
            "slider"
            "description";
    }
    &__slider{
        grid-area: slider;
    }
    &__title{
        grid-area: title;
        position: relative;
    }

    &__info{
        grid-area: description;
    }
}

.product{
    &__slider{
        display: flex;
        max-width: 100%;
        align-items: flex-start;
        @include r($mob - 1){
            margin: 0 auto;
            width: 500px;
            max-width: 100%;
        }
        .slick-dots{
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            @extend %reset-list;
            li + li{
                margin-left: .4rem;
            }
            button{
                @extend %reset-btn;
                font-size: 0;
                width: .6rem;
                height: .6rem;
                border-radius: 50%;
                background-color: $color-border-light;
            }
            .slick-active button{
                background-color: $color-primary;
            }
        }
        .slider-nav{
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            width: 16%;
            margin-right: 6%;
            @include r($mob - 1){
                display: none;
            }
            .slick-arrow{
                @extend %reset-btn;
                position: absolute;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: 0;
                min-height: 2rem;
                background-color: #fff;
                &.slick-prev{
                    top: 0;
                }
                &.slick-next{
                    bottom: 0;
                }
                .svg-icon{
                    width: 1.4rem;
                    height: 0.8rem;
                }
            }

        }
        .slider-for{
            flex: 1;
            min-width: 1px;

        }
        .slick-slide{
            position: relative;
            @include aspect-ratio(100,100,true);
            div{
                padding: .7rem;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .p-title{
        &__tags{
            margin-bottom: 1rem;
        }
        .tag{
            padding: 0 .8rem .1em;
            border-radius: $radius;
            font-size: 1.2rem;
            line-height: 1.7rem;
            display: inline-flex;
            white-space: nowrap;
            border: 1px solid;
            &:not(:last-child){
                margin-right: 2rem;
                @include r($mob - 1){
                    margin-right: 0.6rem;
                }
            }
            &_sale{
                color: $color-white;
                background-color: $color-danger;
            }
            &_hit{
                background-color: $color-white;
                color: $color-warning;
                font-weight: 600;
            }
        }
        &__article{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            color: $color-gray;
            font-size: 1.4rem;
            @include r($mob - 1){
                position: absolute;
                top: .5em;
                right: 0;
                font-size: 1rem;
                .get-description{
                    display: none;
                }
            }
            a{
                //TODO when hover icon change to download
                margin-left: 1rem;
                transition: $transition-base;
                backface-visibility: hidden;
                transform: translateZ(0);
                &:hover{
                    transform: translateY(.2rem);
                }
            }
        }
    }

    &__info{
        margin-top: 2.4rem
    }
    &__price{
        @include r($mob - 1){
            display: flex;
            align-items: center;
        }
        .price{

            &_old{
                @include css-lock(16,20,768,1200);
                position: relative;
                display: inline-block;
                color: $color-gray;
                font-weight: 700;
                @include r($mob - 1){
                    margin-left: 1rem;
                    order: 2;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $color-danger;
                    z-index: 2;
                    top: 50%;
                    left: 0;
                    transform-origin: center;
                    transform: rotate(-5deg);
                }
            }
            &_new{
                color: $color-dark;
                font-weight: 900;
                @include css-lock(20,24,768,1200);
            }
        }
    }
    &__credit{
        margin-top: 1.5rem;
        display: inline-block;
        @include r(767){
            font-size: 1.4rem;
        }
        a{
            padding: .7rem 1.5rem;
            background-color: #f5f5f5;
            text-decoration: none;
            color: $color-dark;
            transition: $transition-base;
            border-radius: $radius;
            &:hover{
                background-color: darken(#f5f5f5,10%);
            }
        }
    }
    &__btns{
        margin-top: 2.7rem;
        .line{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include rIn(1024,1199){
                flex-wrap: wrap;
                .btn{
                    min-width: 24rem;
                    &:first-child{
                        margin-bottom: 1rem;
                    }
                }
            }
            .btn{
                @include r($mob - 1){
                    flex: 1;
                    max-width: calc(50% - 1rem);
                    @include r(767){
                        padding-left: 1rem;
                        padding-right: 1rem;
                        font-size: 1.2rem;
                        max-width: calc(50% - .5rem);
                        min-height: 4rem;
                    }
                }
            }
            & ~ .line{
                margin-top: 1.5rem;
            }
            &.top{
                .svg-icon{
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }
        .delivery,
        .compare{
            display: flex;
            align-items: center;
            text-decoration: none;
            @include r(767){
                font-size: 1.2rem;
            }
        }
        .delivery{
            color: $color-dark;
            .svg-icon{
                margin-right: 1rem;
                width: 2.6rem;
                height: 2.6rem;
            }
        }
        .compare{
            color: $color-gray;
            transition: color $transition-base;
            .svg-icon{
                margin-right: 0.5rem;
                width: 1.5rem;
                height: 1.2rem;
            }
            @include hover{
                color: $color-dark;
            }
        }
    }

    &__locations{
        margin-top: 3rem;
        margin-bottom: 6rem;
        color: $color-gray;
        @include r($mob - 1){
            display: none;
        }
        .title{
            margin-bottom: 0.8rem;
        }
        a{
            display: inline-block;
            text-decoration: none;
            color: currentColor;
            @extend %link-dashed;
        }
    }
}
// end product

.product-nav{
    margin-top: 4rem;
    margin-bottom: 6rem;
    @include r($mob - 1){
        margin-top: 3rem;
        margin-bottom: 3rem;
        max-width: calc(100vw - 3rem);
        @include r(767){
            margin-top: 2rem;
        }
    }
    ul{
        @extend %reset-list;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #D6DBE0;
        @include r($mob - 1){
            display: block;
            width: calc(100vw - 2rem);
            overflow-x: auto;
            white-space: nowrap;
            li{
                margin-bottom: 0;
                display: inline-block;
            }
        }
    }
    li{
        margin-bottom: -2px;
        // flex: 1;
        color: $color-gray;
        position: relative;
        border-bottom: 2px solid transparent;
        transition: color $transition-base;
        @include hover{
            color: rgba($color-primary,.6);
        }
        &.is-active{
            color: $color-primary;
            border-bottom-color: $color-primary;
        }
    }
    a{
        padding: 1.7rem 2.5rem;
        display: inline-block;
        text-decoration: none;
        width: 100%;
        color: inherit;
        text-align: center;
        @include r(767){
            padding: 1rem 1.2rem;
            font-size: 1.2rem;
        }
    }
}


.section_advantages{
    text-align: center;
    .advantages-list{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .item{
            padding: 1.4rem 1rem 14.5rem;
            flex-basis: calc(25% - 2rem);
            // background-color: #ECECEC;
            border-radius: $radius * 2;
            overflow: hidden;
            font-weight: 700;
            position: relative;
            color: $color-dark;
            @extend %bg-cover;
            @include r($mob - 1){
                flex-basis: calc(50% - .5rem);
                margin-bottom: 1rem;
                @include r(767){
                    padding: 1rem .6rem 11rem;
                    font-size: 1.2rem;
                }
            }
            &_1{
                background-image: url(/img/advantages/1.jpg);
            }
            &_2{
                background-image: url(/img/advantages/2.jpg);
            }
            &_3{
                background-image: url(/img/advantages/3.jpg);
            }
            &_4{
                background-image: url(/img/advantages/4.jpg);
            }
        }
    }
}


.section_modes{
    @include rmin(768){
        padding-bottom: 4rem;
        border-bottom: 1px solid $color-border-light;
    }
    h2{
        text-align: center;
    }
    .mode-list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        .item{
            margin-bottom: 4rem;
            flex-basis: calc(33.3333% - 2rem);
            max-width: calc(33.3333% - 2rem);
            @include rIn(768, $mob - 1){
                flex-basis: calc(50% - 2rem);
                max-width: calc(50% - 2rem);
            }
            @include r(767){
                margin-bottom: 3rem;
                flex-basis: 100%;
                max-width: 100%;
                text-align: center;
            }
            p{
                margin-top: 0;
                color: $color-text;
            }
        }
    }
    .mode-img__wrapper{
        @include r($mob - 1){
            margin-bottom: 1.5rem;
            border-radius: $radius * 4;
            display: inline-flex;
            padding: 2px;
            background-image: linear-gradient(to left, #62ADFC, #69CBFB, #69CBFB);
            img{
                border-radius: inherit;
            }
            @include r(767){
                width: 7rem;
                height: 7rem;
            }
        }
    }
    &__cape{
        margin-top: 8rem;
        padding-top: 12rem;
        border-top: 1px solid #E7E5EA;
        @include rmin(768){
            border-bottom: none;
        }
        @include rIn(768,1023){
            margin-top: 4rem;
            padding-top: 6rem;
            padding-bottom: 0;
        }
        @include r(767){
            margin-top: 3rem;
            padding-top: 5rem;
            text-align: center;
        }
        h2{
            margin-bottom: 2rem;
            @include rmin(768){
                text-align: left;
            }

        }
        .mode-list{
            .item{
                @include rmin(768){
                    margin-bottom: 4rem;
                    flex-basis: calc(50% - 2rem);
                    max-width: calc(50% - 2rem);
                    display: flex;
                    flex-flow: row wrap;
                    align-items: flex-start;
                    .mode-img__wrapper{
                        flex-basis: 7rem;
                    }
                    &-text{
                        padding-left: 3rem;
                        flex: 1;
                    }

                }
                @include r(767){
                    .mode-img__wrapper{
                        background: none;
                    }
                }
            }
        }
    }
}
.mobile-inter{
    text-align: center;
    @include rmin(768){
        display: none;
    }
}
.section_feature{
    padding-top: 8rem;
    @include r($mob - 1){
        padding-top: 5rem;
        @include r(767){
            padding-top: 0;
        }
    }
}

.feature{
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include rmin(768){
            &:nth-child(odd){
                .feature__img{
                    order: 2;
                }
            }
        }
        &:not(:first-child){
            margin-top: 12rem;
            @include r($mob - 1){
                margin-top: 5rem;
            }
        }
        @include r(767){
            flex-wrap: wrap;
            .feature__img{
                order: -1;
            }
        }
    }
    &__img,
    &__text-wrapper{
        flex: 1 1 calc(50% - 3rem);
        max-width: calc(50% - 3rem);
        @include r(767){
            flex: 1 1 100%;
            max-width: 100%;
        }
        h3{
            margin-bottom: 2rem;
            font-size: 1.4rem;
            line-height: 1.7;
            letter-spacing: .4rem;
            text-transform: uppercase;
            color: $color-primary;
            font-weight: 600;
            @include r(767){
                margin-bottom: 1rem;
                font-weight: 400;
            }
        }
        .btn{
            margin-top: 6rem;
            padding-left: 1.4em;
            padding-right: 1.4em;
            min-width: 27rem;
            @include r(767){
                margin-top: 2rem;
            }
        }
    }
    &__img{
        border-radius: $radius *4;
        overflow: hidden;
        @include r(767){
            margin-bottom: 3rem;
        }
    }
    &__description{
        @extend .h2;
    }
    &__info{
        margin-top: 4rem;
        padding: 2rem;
        padding-left: 1.7em;
        border: 1px solid $color-border;
        border-radius: $radius * 4;
        display: flex;
        align-items: flex-start;
        color: $color-dark;
        @include r(767){
            margin-top: 2rem;
            padding: 1rem 1rem 1rem 1.2em;
        }
        .svg-icon{
            margin-top: 0.4em;
        }
        .text{
            padding-left: 1em;
            flex: 1;
            p{
                &:first-child{
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }
    }

    .mt-middle-0{
        @include rIn(768,1023){
            margin-top: 0;
        }
    }

}

.section_video{
    border-bottom: 1px solid $color-border-light;
    @include rmin($mob){
        margin-bottom: 4rem;
    }
    @include r(767){
        margin-bottom: 4rem;
    }
    &_cape{
        border-bottom: 0;
        margin-top: 10rem;
        @include r($mob - 1){
            margin-top: 7rem;
            @include r(767){
                margin-top: 4rem;
            }
        }
    }
}
.quality{
    margin: 8rem auto;
    max-width: 62rem;
    @include r($mob - 1){
        margin: 4rem auto 2rem;
    }
    &__logo{
        margin-bottom: 3rem;
        @include r(767){
            margin-bottom: 2rem;
            max-width: 8.8rem;
        }
    }
}

.section_cape{
    border-bottom: 1px solid $color-border-light;
    margin-top: 10rem;
    @include r($mob - 1){
        margin-top: 7rem;
        @include r(767){
            margin-top: 5rem;
        }
    }
}
.cape{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 6rem;
    @include r(767){
        margin-bottom: 5rem;
        padding-bottom: 3.5rem;
    }
    &__left{
        @include rmin(1024){
            max-width: 57.5rem;
            padding-top: 10rem;
        }
    }
    &__right{
        max-width: 38rem;
        @include r(1023){
            display: none;
        }
    }
    &__item{
        padding-left: 5rem;
        position: relative;
        @include r(767){
            padding-left: 2.5rem;
        }
        &:not(:first-child){
            margin-top: 5rem;
            @include r(767){
                margin-top: 2rem;
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: 2.2rem;
            height: 2.2rem;
            top: 0.1em;
            left: 0;
            background-image: url('/img/cape/item-marker.svg');
            background-size: cover;
            background-repeat: no-repeat;
            @include r(767){
                width: 1.3rem;
                height: 1.3rem;
                top: .2em;
            }
        }
        .title{
            font-size: 1.8rem;
            font-weight: 700;
            color: $color-dark;
            @include r(767){
                font-size: inherit;
                margin-bottom: .5rem;
            }
        }
        p{
            @include r(767){
                margin-top: 0;
            }
        }
    }
    &__btn{
        margin-top: 8rem;
        @include r(767){
            margin-top: 3rem;
            text-align: center;
        }
        .btn{
            min-width: 30rem;
        }
    }
}


.section_programm{

}
.programms{

    &__top{
        padding-bottom: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $color-border-light;
        @include r($mob - 1){
            padding-top: 1rem;
            padding-bottom: 2.5rem;
            @include r(767){
                flex-wrap: wrap;
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
        .right{
            order: 2;
        }
        .left,
        .right{
            flex: 1 1 calc(50% - 3rem);
            max-width: calc(50% - 3rem);
            @include r(767){
                flex: 1 1 100%;
                max-width: 100%;
            }
            h4{
                margin-bottom: 2rem;
                font-size: 1.4rem;
                line-height: 1.7;
                letter-spacing: .4rem;
                text-transform: uppercase;
                color: $color-primary;
                font-weight: 600;
            }
        }
    }
    &__list{
        @extend %reset-list;
        @include counter(prog, '');
        @include grid( $flex-wrap: wrap, $gutter: $default-grid-gutter);
        @include r($mob - 1){
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .item{
            margin-top: 4rem;
            margin-bottom: 4rem;
            display: flex;

            @include rmin(1024){
                @include grid-col($col: 3, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter );
                flex-basis: calc(25% - 3rem);
            }
            @include rIn(768,1024){
                @include grid-col($col: 6, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter );
            }
            @include r($mob - 1){
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            &::before{

                width: 3.8rem;
                text-align: left;
                display: inline-block;
                background-image: linear-gradient(63.44deg, #62ADFC 33.49%, #69CBFB 53.08%, #69CBFB 74.67%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 2.5rem;
                font-weight: 700;
            }

            .text{
                flex: 1;
                h3{
                    margin-top: 0.3em;
                    font-weight: 600;
                }
            }

        }
    }
    //TODO recreate all column-friendly blocks
}


.section_form{
    margin-top: 6rem;
    padding: 7rem;
    background-color: $color-white;
    border: 2px solid $color-border-light;
    border-radius: $radius*4;
    @include r($mob - 1){
        padding: 3rem;
    }
}
.form-main{

    display: flex;
    align-items: center;
    h2{
        margin-bottom: 1rem;
    }
    &__left{
        max-width: 40rem;
    }
    &__right{
        @include css-lock(50,100,768,1200,margin-left);
        @include r(767){
            display: none;
        }
    }
    .form{
        margin-top: 5rem;
        @include r(767){
            margin-top: 3.4rem;
            display: flex;
            flex-flow: row wrap;
            .form__accepted{
                margin-top: 1.5rem;
                order: 4;
            }
            .btn{
                margin-top: .5rem;
            }
        }
        .btn{
            margin-top: 3rem;
            width: 100%;
        }
    }
}

.section_addresses{
    margin-top: 9rem;
    @include r(767){
        margin-top: 5rem;
    }
    h2{
        @include css-lock(16,26,768,1200)
    }
}


.section_map{
    margin-bottom: 8rem;
    @include r($mob - 1){
        margin-bottom: 5rem;
        @include r(767){
            @include aspect-ratio(100,100,true);
            img,
            iframe{
                border: none;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}