// @import "../css/jquery.fullpage.min.css";
// // @import "./node_modules/slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick.scss";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/normalize";
// @import "../../../node_modules/bootstrap-4-grid/scss/grid.scss";

$default-grid-columns: 12;
$default-grid-gutter: 3rem;

@import 'flexbox-grid-mixins';
// html, body {
//     height: 100%;
// }

html {
    font-size: 62.5%;
    line-height: $main-line-height;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-size: 1.6rem;
    line-height: $main-line-height;
    font-weight: $main-font-weight;
    color: $color-text;
    background-color: $color-white;
    @extend %antialias;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
}

img, svg {
    max-width: 100%;
}
.svg-icon{
    width: 2rem;
    height: 2rem;
    display: inline-flex;
}
svg {
    fill: currentColor;
    max-height: 100%;
}

button, a {
    cursor: pointer;
}

strong,
.bold{
    font-weight: 700;
    // font-family: $main-font_bold;
}

.layout {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    min-height: 100%;
    &__header,
    &__footer{
        flex: 0 0 auto;
    }
    &__header{
        z-index: 100;
    }
    &__main{
        margin-top: -10px;
        flex: 1;
    }
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 100%;
    @include rmin(1200){
        max-width: 1180px;
    }
    // @include rmin(1500){
    //     max-width: 1440px;
    // }
}

.hideMainScroll{
    overflow: hidden;
    &.no-touch{
        padding-right: 17px;
        .fixed-elem{
            width: calc(100% - 17px);
            &::after{
                content: '';
                position: absolute;
                width: 20px;
                height: 100%;
                background-color: white;
                right: -20px;
                top: 0;
            }
        }
    }
}

// Components
@import "components";

// Pages
@import "pages";

// Utils
@import "utils/utils";
