mixin breadcrumbsCape(data)
    - var data = data || ''
    //BEGIN breadcrumbs
    .breadcrumbs__wrapper
        ol.breadcrumbs(itemscope itemtype="http://schema.org/BreadcrumbList")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/" itemid="/")
                    span(itemprop="name") Главная
                meta(itemprop="position" content="1")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/will_information" itemid="/willinformation")
                    span(itemprop="name") Массажное оборудование
                meta(itemprop="position" content="2")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/will_information" itemid="/willinformation")
                    span(itemprop="name") Массажные накидки
                meta(itemprop="position" content="3")
            li
                if data != ''
                    span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/currentpage")
                        span(itemprop="name")!=data.item3
                else
                    span(itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="/currentpage")
                        span(itemprop="name") Массажная накидка Ergonova Feelback 4 LTE
                meta(itemprop="position" content="4")
    //END breadcrumbs