mixin footer()
    footer.footer
        .footer__container.container
            .footer__top
                .footer__col
                    .inner-left
                        .footer__title Каталог
                        .footer__list
                            ul
                                li: a(href="#") Массажные кресла
                                li: a(href="#") Массажные накидки
                                li: a(href="#") Массажеры
                                li: a(href="#") Массажные подушки
                                li: a(href="#") Массажные кровати
                                li: a(href="#") Массажный кабинет
                                li: a(href="#") Массажные тапочки
                                li: a(href="#") Массажные коврики
                    .inner-right
                        .footer__title &nbsp;
                        .footer__list
                            ul
                                li: a(href="#") Массажные маты
                                li: a(href="#") Тренажеры
                                li: a(href="#") Косметология
                                li: a(href="#") Дом и офис
                                li: a(href="#") Активный отдых
                                li: a(href="#") Дача и сад
                                li: a(href="#") Для детей


                .footer__col
                    .inner-left
                        .footer__title Спецпредложения

                        .footer__list
                            ul
                                li: a(href="#") Распродажа
                                li: a(href="#") Акции
                                li: a(href="#") Дисконтные карты
                                li: a(href="#") Тест-драйв
                                li: a(href="#") Trade-in

                    .inner-right
                        .footer__title О нас

                        .footer__list
                            ul
                                li: a(href="#") Магазины
                                li: a(href="#") Доставка
                                li: a(href="#") О компании
                                li: a(href="#") Контакты


                .footer__col.footer__col_last
                    .footer__title Свяжитесь с нами:

                    .footer__list.contacts
                        ul
                            li
                                a(href="tel:88007001429")
                                    +icon('phone')
                                    span 8 800 700 14 29
                            li
                                a(href="mailto:info@ergonova.ru")
                                    +icon('email')
                                    span info@ergonova.ru

                    .footer__title Мы в соцсетях:

                    .footer__list.socials
                        ul
                            li: a.socials__link.socials__link_vk(href='https://vk.com/ergonova' target='_blank' rel="noreferrer" aria-label="go to social vk"): +icon('vk')
                            li: a.socials__link.socials__link_fb(href='https://www.facebook.com/ergonova/' target='_blank' rel="noreferrer" aria-label="go to social facebook"): +icon('facebook')
                            li: a.socials__link.socials__link_insta(href='https://www.instagram.com/ergonova_russia' target='_blank' rel="noreferrer" aria-label="go to social instagramm"): +icon('instagram')
                            li: a.socials__link.socials__link_yt(href='youtube' target='_blank' rel="noreferrer" aria-label="go to social youtube"): +icon('youtube')


            .footer__bottom
                .copy © 2009 - 2021  Ergonova
                a.confident(href="#") Политика конфиденциальности
                .payments
                    img(src=imgPath('logos/mastercard.svg'), alt="")
                    img(src=imgPath('logos/visa.svg'), alt="")
                    img(src=imgPath('logos/mir.svg'), alt="")
