mixin header(data)
    - data = data || {}
    -
        var nav = [
            'Каталог','Магазины','Распродажа','Акции','Доставка','О компании','Тест-драйв','Trade-in','Контакты'
        ]
     //BEGIN header
    header.header
        .container.header__container
            a.header__logo(href="#")
                img(src=imgPath('logos/logo.svg'), alt="")
            .catalog-btn
                span.icon
                span.text Каталог
                .nav-desktop
                    +nav()

            .header__search.form-search
                form
                    input.form-search__field(type="text", name="search" placeholder="Искать на Ergonova")
                    button.form-search__submit(type="submit"): +icon('search')
            .header__location.location
                .location__value
                    +icon('location',{cls:'location__icon'})
                    span.js-location-name Москва
                ul.location__drop
                    li: a(href="#") Москва
                    li: a(href="#") Санкт-Петербург
                    li: a(href="#") Екатеринбург
                    li: a(href="#") Челябинск
                    li: a(href="#") Тюмень
                    li: a(href="#") Магнитогорск
                    li: a(href="#") Уфа
                    li: a(href="#") Оренбург

            .header__phone-callback
                a.link(href="tel:8 800 700 14 29")
                    span.text 8 800 700 14 29
                    span.icon: +icon('phone2')
                a.js-modal.callback(href="#" data-target="callback") Заказать звонок

            .menu-trigger
                span

        .header__mobile
            .header__search
                form
                    input(type="text", name="search" placeholder="")
                    button(type="submit"): +icon('search')
            .nav-mobile
                .subnav
                    span Каталог
                    +nav()
                .simple-nav
                    each item, i in nav
                        a(href="#" class!= (i==2) ? 'sale' : '')!=item
            .header__phone-callback
                a(href="tel:8 800 700 14 29")
                    span.text 8 800 700 14 29
                    span.icon: +icon('phone2')
                a.js-modal(href="#" data-target="callback") Заказать звонок


        .header-bottom
            .container.header-bottom__container
                ul.simple-nav
                    each item, i in nav
                        -
                            var cls = {
                                'catalog' : (i==0),
                                'sale' : (i==2),
                            }
                        li(class!=cls)
                            if (i==2)
                                +icon('sale')
                            a(href="#")!=item
                a.header-bottom__cart(href="#")
                    +icon('cart')
                    span.increment


    //END header

