mixin header(data)
    - data = data || {}
    -
        var nav = [
            'Магазины','Распродажа','Акции','Доставка','О компании','Тест-драйв','Trade-in','Контакты'
        ]
     //BEGIN header
    header.header
        .container.header__container
            a.header__logo(href="#")
                img(src=imgPath('logos/logo.svg'), alt="")
            .catalog-btn
                span.icon
                    +icon('menu')
                span.text Каталог
                .nav-desktop
                    +nav('desktop')

            .header__search.form-search
                form
                    input.form-search__field(type="text", name="search" placeholder="Искать на Ergonova")
                    button.form-search__submit(type="submit"): +icon('search')
            .header__location.location
                .location__value
                    +icon('location',{cls:'location__icon'})
                    span.js-location-name Москва
                ul.location__drop
                    li: a(href="#") Москва
                    li: a(href="#") Санкт-Петербург
                    li: a(href="#") Екатеринбург
                    li: a(href="#") Челябинск
                    li: a(href="#") Тюмень
                    li: a(href="#") Магнитогорск
                    li: a(href="#") Уфа
                    li: a(href="#") Оренбург

            .header__phone-callback
                a.link(href="tel:8 800 700 14 29")
                    span.text 8 800 700 14 29
                    span.icon: +icon('phone2')
                a.js-modal.callback(href="callback") Заказать звонок

            .menu-trigger
                span

        .header__mobile
            .header__search.mob-form.form-search
                form
                    input.form-search__field(type="text", name="search" placeholder="Искать на Ergonova")
                    button.form-search__submit(type="submit"): +icon('search')
            .nav-mobile
                .overflow-wrapper-y.subnav__wrapper
                    .subnav
                        .mobile-subnav-trigger
                            .inner
                                .trigger.trigger-mobile-from
                                    span Каталог
                                    +icon('arrow-right')
                        +nav()
                .overflow-wrapper-y.simple-nav__wrapper
                    .mobile-subnav-trigger
                        .inner
                            .trigger.trigger-mobile-to
                                span Каталог
                                +icon('arrow-right')
                    .simple-nav
                        each item, i in nav
                            a(href="#" class!= (i==1) ? 'sale' : '')
                                if (i==1)
                                    +icon('sale')
                                span!=item
                                +icon('arrow-right')
            .header__phone-callback
                a(href="tel:8 800 700 14 29")
                    span.text 8 800 700 14 29
                a.js-modal.btn.btn_primary(href="callback") Перезвоните мне

        .header-bottom
            .container.header-bottom__container
                ul.simple-nav
                    each item, i in nav
                        -
                            var cls = {
                                'sale is-active' : (i==1),
                            }
                        li(class!=cls)
                            a(href="#")
                                if (i==1)
                                    +icon('sale')
                                span!=item
                a.header-bottom__cart.is-active(href="#")
                    +icon('cart')
                    span.increment 3


    //END header

