mixin nav()
    ul.nav-bar
        li.first.first-open
            a(href='/massazhnoe-oborudovanie')
                |  Массажное оборудование
            ul
                li
                    a(href='/massazhnye-kresla') Массажные кресла
                li
                    a(href='/massazhery') Массажеры
                li
                    a(href='/massazhnye-nakidki') Массажные накидки
                li
                    a(href='/massazhnye-podushki') Массажные подушки
                li
                    a(href='/massazhnye-krovati') Массажные кровати
                li
                    a(href='/massazhnyy-kabinet') Массажный кабинет
                    ul
                        li
                            a(href='/massazhnye-stoly') Массажные столы
                        li
                            a(href='/aksessuary-dlya-massazhista') Аксессуары для массажиста
                li
                    a(href='/massazhnye-tapochki') Массажные тапочки
                li
                    a(href='/massazhnye-kovriki') Массажные коврики
                li
                    a(href='/massazhnye-maty') Массажные маты
        li.first
            a(href='/dom-i-ofis')
                | Дом и офис
            ul
                li
                    a(href='/mebel') Мебель
                    ul
                        li
                            a(href='/kompyuternye-kresla') Компьютерные и офисные кресла
                        li
                            a(href='/kompjuternie-stoly') Компьютерные столы
                        li
                            a(href='/kresla-reklaynery') Кресла-реклайнеры
                li
                    a(href='/osveschenie') Освещение
                    ul
                        li
                            a(href='/solyanye-lampy') Соляные лампы
        li.first
            a(href='/trenazhery')
                | Тренажеры
            ul
                li
                    a(href='/silovye-trenazhery') Силовые тренажеры
                    ul
                        li
                            a(href='/mnogofunkcionalnye-trenazhery') Многофункциональные тренажеры
                        li
                            a(href='/pod-sobstvennym-vesom') Под собственным весом
                        li
                            a(href='/blochnye-trenazhery') Блочные тренажеры
                        li
                            a(href='/trenazherny-so-svobodnymi-vesami') Тренажеры со свободными весами
                        li
                            a(href='/gidravlicheskie-trenazhjory') Гидравлические тренажеры
                        li
                            a(href='/opcii-k-trenazheram') Опции к тренажерам
                li
                    a(href='/inversija-i-rastjazhka') Инверсия и растяжка
                    ul
                        li
                            a(href='/sving-mashiny') Свинг-машины
                        li
                            a(href='/inversionnye-stoly') Инверсионные столы
                li
                    a(href='/aksessuary-dlja-trenazherov') Аксессуары для тренажеров
                    ul
                        li
                            a(href='/besprovodnye-kardiodatchiki') Беспроводные кардиодатчики
                        li
                            a(href='/kovriki-dlja-trenazherov') Коврики для тренажеров
                li
                    a(href='/kardiotrenazhery') Кардиотренажеры
                    ul
                        li
                            a(href='/begovye-dorozhki') Беговые дорожки
                        li
                            a(href='/ellipticheskie-trenazhery') Эллиптические тренажеры
                        li
                            a(href='/velotrenazhery') Велотренажеры
                        li
                            a(href='/steppery') Степперы
                        li
                            a(href='/grebnye-trenazhery') Гребные тренажеры
                li
                    a(href='/oborudovanie-dlja-fitnesa') Оборудование для фитнеса
                    ul
                        li
                            a(href='/vibroplatformy') Виброплатформы
                        li
                            a(href='/vibromassazhery') Вибромассажеры
                        li
                            a(href='/fitnes-trenazhery') Фитнес-тренажеры
                        li
                            a(href='/vibroganteli') Виброгантели
                        li
                            a(href='/jespandery') Эспандеры
                li
                    a(href='/edinoborstva') Единоборства
                    ul
                        li
                            a(href='/vodonalivnye-trenazhery') Водоналивные тренажеры
                        li
                            a(href='/bokserskie-meshki') Боксерские мешки
                        li
                            a(href='/sparring-manekeny') Спарринг-манекены
                li
                    a(href='/ippotrenazher') Иппотренажеры
        li.first
            span
                | Активный отдых
            ul
                li
                    a(href='/batuty') Батуты
                li
                    a(href='/transport') Транспорт
                    ul
                        li
                            a(href='/velosipedy') Велосипеды
        li.first
            span
                |  Дача и сад
            ul
                li
                    a(href='/banya-i-sauna') Баня и сауна
                    ul
                        li
                            a(href='/infrakrasnye-sauny') Инфракрасные сауны
        li.first
            a(href='/dlya-detey')
                | Для детей
            ul
                li
                    a(href='/detskaya-mebel') Детская мебель
                    ul
                        li
                            a(href='/detskie-ortopedicheskie-kresla') Детские ортопедические кресла
                        li
                            a(href='/detskie-pismennye-stoly') Детские письменные столы
        li.first
            a(href='/kosmetologiya')
                | Kосметология
            ul
                li
                    a(href='/kosmetologicheskie-apparaty') Косметологические аппараты
                    ul
                        li
                            a(href='/miostimulyatory') Миостимуляторы
                        li
                            a(href='/apparaty-dlya-dermabrazii') Аппараты для дермабразии
                        li
                            a(href='/apparaty-dlya-mezoterapii') Аппараты для мезотерапии
                        li
                            a(href='/apparaty-dlya-ultrazvukovoy-terapii') Аппараты для ультразвуковой терапии
                        li
                            a(href='/apparaty-dlya-rf-liftinga') Аппараты для RF-лифтинга
                        li
                            a(href='/apparaty-dlya-mikrotokovoy-terapii') Аппараты для микротоковой терапии
                        li
                            a(href='/epilyatory') Аппараты для эпиляции и депиляции
                        li
                            a(href='/apparaty-dlya-vakuumnogo-massazha') Аппараты для вакуумного массажа
                        li
                            a(href='/apparaty-dlya-limfodrenazha-i-pressoterapii') Аппараты для лимфодренажа и прессотерапии
                        li
                            a(href='/vaporizatory') Вапоризаторы
                        li
                            a(href='/mnogofunkcionalnye-apparaty') Многофункциональные аппараты
                        li
                            a(href='/darsonval') Дарсонвали
                        li
                            a(href='/kosmetologicheskie-apparaty-s-odnoj-funkciej') Косметологические аппараты с одной функцией
                        li
                            a(href='/apparaty-dlja-pilinga') Аппараты для пилинга
                        li
                            a(href='/apparaty-dlja-fisioterapii') Аппараты для физиотерапии
                li
                    a(href='/oborudovanie-dlya-kabineta-kosmetologa') Оборудование для кабинета косметолога
                    ul
                        li
                            a(href='/stulya-dlya-masterov') Стулья для мастеров
                        li
                            a(href='/kosmetologicheskie-telezhki-i-stoliki') Косметологические тележки и столики
                        li
                            a(href='/podogrevateli-polotenec') Подогреватели полотенец
                        li
                            a(href='/kosmetologicheskie-kushetki-i-kresla') Косметологические кушетки и кресла
                        li
                            a(href='/lampy-lupy') Лампы-лупы
                li
                    a(href='/aksessuary-dlya-kosmetologii') Аксессуары для косметологии
                    ul
                        li
                            a(href='/termoodeyalo') Термоодеяла
                li
                    a(href='/oborudovanie-dlya-manikyura-i-pedikyura') Оборудование для маникюра и педикюра
                    ul
                        li
                            a(href='/gidromassazhnye-vannochki') Гидромассажные ванночки
                        li
                            a(href='/stoly-dlya-manikyura') Столы для маникюра
                        li
                            a(href='/manikyurno-pedikyurnoe-oborudovanie') Маникюрно-педикюрное оборудование
                        li
                            a(href='/pedikyurnye-kresla') Педикюрные кресла
                li
                    a(href='/oborudovanie-dlya-parikmaherskoy') Оборудование для парикмахерской
                    ul
                        li
                            a(href='/moyki-parikmaherskie') Мойки парикмахерские
                        li
                            a(href='/kresla-parikmaherskie') Кресла парикмахерские
                        li
                            a(href='/rabochie-mesta-i-polki') Рабочие места и полки
                        li
                            a(href='/detskie-stulchiki-parikmaherskie') Детские стульчики парикмахерские
                li
                    a(href='/oborudovanie-dlya-sterilizacii-i-dezinfekcii') Оборудование для стерилизации и дезинфекции
