.breadcrumbs{
    @extend %reset-list;
    display: flex;
    align-items: center;
    min-height: 80px;
    --mainFz: 1.4rem;
    font-size: var(--mainFz);
    flex-flow: row wrap;
    @include r(767){
        white-space: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto;
        min-height: 45px;
        margin-bottom: 0;
        --mainFz: 12px;
        &__wrapper{
            position: relative;
            width: 100%;
            max-width: calc(100vw - 2rem);
            &::after{
                content: '';
                position: absolute;
                width: 40px;
                height: 100%;
                background-image: linear-gradient(to left, white, transparent);
                top: 0;
                right: 0;
                pointer-events: none;
            }
        }
    }
    li{
        &:not(:last-child){
            &::after{
                content: '/';
                margin: 0.5em;
                display: inline-block;
            }
        }
        &:last-child{
            color: $color-primary;
        }
    }
    a{
        color: $color-text;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        span{
            color: $color-gray;
        }
    }

}



//project mobile
@include r($mob - 1){
    .breadcrumbs{
        min-height: 4.5rem;
        li{
            &:first-child,
            &:last-child{
                display: none;
            }
            &:nth-last-child(2){
                &::after{
                    content: none;
                }
            }
            a{
                span{
                    color: $color-primary;

                }
                &::after{
                    color: $color-gray;
                }
            }
        }
    }
}