%button{
    @extend %reset-btn;
    padding: .52em 1em;
    display: inline-flex;
    flex: 0 0 auto;
    max-width: 100%;
    font-size: inherit;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: $transition-base;
    overflow: hidden;
    white-space: nowrap;
    border-radius: $radius;
    line-height: 1.3;
    min-height: em(48,16);
    min-width: em(140,16);
    font-weight: 400;
}

.btn {
    @extend %button;
    &_primary {
        color: $color-white;
        background-color: $color-primary;
        border: 1px solid $color-primary;
        @include hover {
            color: $color-primary;
            background-color: $color-white;
            border: 1px solid $color-primary;
        }
        &-outline{
            color: $color-primary;
            background-color: $color-white;
            border: 1px solid $color-primary;
            @include hover{
                color: $color-white;
                background-color: $color-primary;
                border: 1px solid $color-primary;
            }
        }
    }
    .icon{
        &_right{
            margin-left: .7em;
        }
    }

}


%link-dashed{
    position: relative;
    display: inline-block;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background-image: repeating-linear-gradient(to left, currentColor, currentColor 4px, $color-white 4px, $color-white 8px);
        transition: $transition-base;
        opacity: 0;
        transform: translateY(3px);
    }
    &:hover::before{
        background-position-x: 100px;
        opacity: 1;
        transform: translateY(0);
    }
}