// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0.3em;

    &:last-child {
        margin-bottom: 0;
    }
}

h1, .h1 {
    @include css-lock(24,30,450,1200);
    line-height: 1.3;
    font-weight: 900;
    color: $color-dark;
}

h2, .h2 {
    margin-bottom: 1em;
    @include css-lock(20,40,450,1200);
    line-height: 1.2;
    font-weight: 700;
    color: $color-dark;
}

h3, .h3 {
    @include css-lock(14,20,450,1200);
    line-height: 1.2;
    font-weight: 900;
    color: $color-dark;
}

h4, .h4 {
    font-size: 32px;
    line-height: 38/32*1em;
    font-weight: 600;
    letter-spacing: 0.03em;
}

h5, .h5 {
    font-size: 24px;
    line-height: 29/24*1em;
    font-weight: 600;
    letter-spacing: 0.03em;
}

h6, .h6 {
    font-size: 18px;
    line-height: 22/18*1em;
    font-weight: 600;
    letter-spacing: 0.03em;
}
